/* ==UserStyle==
@name           slInoReader
@version        2023.6.30-1517
@namespace      seanloos.com
@author         Sean Loos
@homepageURL    http://seanloos.com/userscripts/
==/UserStyle== */
@-moz-document domain("inoreader.com") {
	* {
		font-family: Inter UI,Libre Frankin !important;
	}

/*
*/
	.article_comment_bar.article_footer,
	.article_create_annotation_link,
	.article_social_bar.article_footer,
	.popularity_div,
	.sinner_under_footer,
	.ad_title,
	.block_article_ad,
	.mobile_leaderboard_ad,
	.ad_size_mobile_leaderboard {
		display: none !important;
	}

/***************************************/
/* Tree Pane */
/***************************************/
	#tree_pane{
		width: 200px !important;
	}
	#sb_tree_part{
		width:207px !important;
	}
	#sb_reading_part{
		width: calc(100% - 207px) !important;
	}

/***************************************/
/* List Pane */
/***************************************/
	#reader_pane {
		width: 550px !important;
		left:205px !important;
		max-width: 29% !important;
	}

	.articles_feed_group_heading {
		margin: 0 !important;
		padding: 1px 0 3px !important;
		color: #fff !important;
		background-color: #000 !important;
		font-weight: bold !important;
	}
	
	.article_no_thumbnail {
		margin: 0 !important;
		padding: 0 0 0 0px !important;
		border-bottom: 1px solid #666 !important;
	}

	.article_header {
		top: 0 !important;
		padding: 5px 0  !important;
	}

	.article_header_text,
	.article_header_text .article_header_title {
		font-size: 13px !important;
		font-weight: 500 !important;
		line-height: 1.3em !important;
		color: #111!important;
		display: inline-block !important;
		opacity:1 !important;
		overflow: hidden;
		padding-bottom: 5px;
		padding-left: 50px;
	}

	.article_header_pane_left {
		margin-bottom: -18px !important;
	}

	.column_view_title {
		margin-top: 2px !important;
		left: 0px !important;
		max-height: unset;
	}
	
	.column_view_info {
		margin-top: -35px !important;
		max-width: 48px !important; 
	}
	
	.feed_favicon {
		margin: 0 0 !important;
	}

	.article_favicon,.article_unread_dot,.article_feed_favicon {
		margin: 0 !important;
	}

	.article_share{
		display:none;
	}
	
	.column_view_info .article_feed_title {
		display: none !important;
	}

	.column_view_info .header_date {
		right: 0;
		bottom: 0;
		position: absolute !important;
		font-size: 8px !important;
		color: #666 !important;
		line-height: 10px !important;
	}

	.arrow_div {
		background-color: transparent !important;
		right: 0;
		top: 0;
		position: absolute !important;
	}

	.article_current,
	.article_current .article_header_title,
	.article_current .article_feed_title,
	.article_current .header_date {
		color: #fff !important;
		background-color: #666 !important;
	}

	#no_more_div {
		height: 50px !important;
		line-height: 50px !important;
    	margin-top: 150px;
	}
	
	#column-resizer.ui-sidebar{
		width:0 !important;
	}
	#column-resizer:after{
		left: -14px !important;
		display: none !important;
	}
	
/***************************************/
/* Article */
/***************************************/
	#three_way_contents {
		padding: 0 !important;
	}

	.article_full_contents {
		padding: 0 !important;
		width: 100% !important;
		margin: 0 !important;
	}

	.article_footer {
		top: 40px !important;
		margin: 0 !important;
		padding: 0 0 0 10px !important;
		border: 1px solid #bbb !important;
	}

	.article_title_link {
		font-weight: unset !important;
		display: inline-block !important;
		overflow: hidden !important;
	}

	.article_title {
		font-size: 16px !important;
		font-weight: 600 !important;
		margin: 0 !important;
		padding: 3px 3px 0px 10px !important;
		border: .5px solid #888 !important;
		min-height:16px !important;
		position:sticky;
		top:0px;
		width:inherit;
		z-index:555;
	}

	.article_sub_title {
		margin-top:0px !important;
		background-color: #eee !important;
		border:.5px solid #bbb !important;
		position: sticky !important;
		top:25px;
		z-index:554;
	}

	.article_author, .article_microblog_author_title {
		font-size:11px !important;
		line-height:11px !important;
	}
	
	.article_author .feed_favicon {
		margin: 2px 0 0 !important;
		height:18px !important;
		width:auto !important;
	}

	.article_sub_title_author_picture{
		max-height:22px !important;
		width:auto !important;
	}

	.article_footer_placeholder_middle{
		margin-bottom: 0px !important;
	}
	
	.article_content {
		font-size: 16px !important;
		font-weight: 400 !important;
		max-width: unset !important;
		margin: 0 !important;
		padding: 10px !important;
		color: #000 !important;
		position:relative;
	}
	.article_content p {
		margin: 0 !important;
	}
	blockquote {
		background-color: #eee !important;
		padding: 5px 15px !important;
	}

	.article_content img,
	.article_content video {
		max-width: 100% !important;
		max-height: calc(100vh - 150px) !important;
	}

	/* Reddit Images */
	.splRedditImg {
		position: relative !important;
		z-index: 100 !important;
		width: auto !important;
		max-width: 100% !important;
		padding: 0 !important;
		max-height: calc(100vh - 140px) !important;
	}

	.splInnoImage {
		display:none !important;
	}
	.splAlbum {
		font-weight: bold!important;
		background-color: #0f0!important;
		color: #000;
	}

	.splFavIcon {
		max-height: 24px!important;
		max-width: 24px!important;
		padding: 0px 5px !important;
		margin-bottom: -6px!important;
		display: inline !important;
	}

	/* YouTube Embed Link */
	.splYouTube {
		color: #fff !important;
		font-size: 10px!important;
		font-weight: bold!important;
		padding: 3px;
		background-color: #f00!important;
	}

	embed,
	iframe {
		min-height: 400px !important;
		max-width: 700px !important;
	}

	/* Gawker Dup Image */
	.dupimg {
		display: none !important;
		border: 2px solid #f00!important;
		height: 10px!important;
		width: 10px!important;
		margin: 0 20px 0 0 !important;
	}

	.dupimg:hover {
		height: auto!important;
		width: auto!important;
	}

	/* Instagram Embeds */
	/*
	.spl_ig {
		width: 400px !important;
		min-height: 550px !important;
		overflow: auto !important;
		border: 1px solid #ccc !important;
	}
	*/
	
}