/* ==UserStyle==
@name           slInoReader
@version        2025.3.11-1741
@namespace      seanloos.com
@author         Sean Loos
@homepageURL    http://seanloos.com/userscripts/
==/UserStyle== */
@-moz-document domain("inoreader.com") {
	* {
		font-family: "Inter UI", "Libre Frankin" !important;
	}

	.article_summarize_button_wrapper,
	.article_comment_bar.article_footer,
	.article_create_annotation_link,
	.article_social_bar.article_footer,
	.popularity_div,
	.sinner_under_footer,
	.ad_title,
	.block_article_ad,
	.list_comment_bubble,
	.mobile_leaderboard_ad,
	.ad_size_mobile_leaderboard {
		display: none !important;
	}

	/**************************************   */
	/* Tree Pane */
	/**************************************   */
	#tree_pane{
		width: 200px !important;
	}

	#sb_tree_part{
		width:207px !important;
	}

	#sb_reading_part{
		width: calc(100% - 207px) !important;
	}

	/**************************************   */
	/* List Pane */
	/**************************************   */

	.article_current,
	.article_current .article_header_title,
	.article_current .article_feed_title,
	.article_current .header_date {
		color: #fff !important;
		background-color: #666 !important;
	}

	#no_more_div {
		height: 50px !important;
		line-height: 50px !important;
		margin-top: 150px;
	}

	/**************************************   */
	/* Article */
	/**************************************   */
	#three_way_contents {
		padding: 0 !important;
	}

	.article_full_contents {
		padding: 0 !important;
		width: 100% !important;
		margin: 0 !important;
	}

	.article_title {
		font-size: 16px !important;
		font-weight: 600 !important;
		margin: 0 !important;
		padding: 3px 3px 0px 10px !important;
		border: .5px solid #888 !important;
		min-height:16px !important;
		position:sticky;
		top:0px;
		width:inherit;
		z-index:555;
	}

	.article_sub_title {
		margin-top:0px !important;
		background-color: #eee !important;
		border:.5px solid #bbb !important;
		position: sticky !important;
		top:25px;
		z-index:554;
	}

	.article_sub_title_author_picture{
		max-height:22px !important;
		width:auto !important;
	}

	.article_footer_placeholder_middle{
		margin-bottom: 0px !important;
	}

	.article_content {
		font-size: 16px !important;
		font-weight: 400 !important;
		max-width: unset !important;
		margin: 0 !important;
		padding: 10px !important;
		color: #000 !important;
		position:relative;
	}

	.article_content p {
		margin: 0 !important;
	}

	blockquote {
		background-color: #eee !important;
		padding: 5px 15px !important;
	}

	.article_content img,
	.article_content video {
		/* max-width: 100% !important; */
		max-height: calc(100vh - 150px) !important;
	}

	/* Reddit Images */
	.splRedditImg {
		position: relative !important;
		z-index: 100 !important;
		width: auto !important;
		max-width: 100% !important;
		padding: 0 !important;
		max-height: calc(100vh - 140px) !important;
	}

	.splInnoImage {
		display:none !important;
	}

	.splAlbum {
		font-weight: bold !important;
		background-color: #0f0 !important;
		color: #000;
	}

	/* YouTube Embed Link */
	.splYouTube {
		color: #fff !important;
		font-size: 10px !important;
		font-weight: bold !important;
		padding: 3px;
		background-color: #f00 !important;
	}

	embed,
	iframe {
		min-height: 400px !important;
		max-width: 700px !important;
	}

	/* Gawker Dup Image */
	.dupimg {
		display: none !important;
		border: 2px solid #f00 !important;
		height: 10px !important;
		width: 10px !important;
		margin: 0 20px 0 0 !important;
	}

	.dupimg:hover {
		height: auto !important;
		width: auto !important;
	}

	/* Instagram Embeds */
	/*
	.spl_ig {
		width: 400px !important;
		min-height: 550px !important;
		overflow: auto !important;
		border: 1px solid #ccc !important;
	}
	*/
}
