/* ==UserStyle==
@name           slNetvibes
@version        2018.9.12-1740
@namespace      seanloos.com
@author         Sean Loos
@homepageURL    http://seanloos.com/userscripts/
==/UserStyle== */

@-moz-document domain("www.netvibes.com") {
.topbar-center,
.overlay,
#topLinks,
#footer,
.download {
	display: none !important;
}

.module {
	margin: 2px 4px 10px !important;
}

.gripper {
	width: 8px !important;
	margin: 5px 0 !important;
}

.item-title,
.nv-feedList {
	font-family: Libre Franklin !important;
	font-size: 13px !important;
	line-height: 18px !important;
}

.read .item-title {
	font-size: 11px !important;
}

.item-preview {
	font-size: 11px !important;
}

/*.read {display:none !important;}*/
.rssItemList li,
.nv-feedList li {
	padding: 3px 0 !important;
	background-image: none !important;
}

#divTabs li {
	padding: 0px 5px !important;
}

.nv-pager {
	margin-top: -14px !important;
	font-size: 8px !important;
}

.smalldisplay-hide .topbar-left,
.smalldisplay-hide .topbar-right {
	display: flex !important;
}

body {
	padding-bottom: 0px !important;
}
}