/* ==UserStyle==
@name           slYoutubeHideComments
@version        2018.10.9-1652
@namespace      seanloos.com
@author         Sean Loos
@homepageURL    http://seanloos.com/userscripts/
==/UserStyle== */
@-moz-document domain("youtube.com") {
	#comments,
	#watch-discussion {
		display: none !important;
	}

	.player-height {
		height: 80vh !important;
		max-height: unset !important;
		max-width: unset !important;
	}

	video,
	#player-api {
		width: 99vw !important;
		left: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.ytp-chrome-bottom {
		width: 70vw !important;
		left: 0 !important;
		margin-left: 15vw !important;
	}
}