/* ==UserStyle==
@name           slYoutubeHideComments
@version        2018.10.10-1007
@namespace      seanloos.com
@author         Sean Loos
@homepageURL    http://seanloos.com/userscripts/
==/UserStyle== */
@-moz-document domain("youtube.com") {
	#comments,
	#watch-discussion {
		display: none !important;
	}

	#player-theater-container,   video  {
		height: 75vh !important;
		max-height: unset !important;
		max-width: unset !important;
	}

	.ytp-chrome-bottom {
		width: 70% !important;
		left: 0 !important;
		margin-left: 15% !important;
	}
}